body{
  background: black;
}

h1{
  text-align: center;
  color: black;
  background: linear-gradient(10deg, #FF3131, white);
  border-radius: 5px;
}
nav {
  position: absolute;
  top: 160px;
  right: 50%;
}

nav li {
  display: inline;
  margin: 0 0 0 15px;
}

nav a {
  text-transform: uppercase;
  color: white;
  font-weight: bold;
  text-decoration: none;
  font-size: 22px;
}

nav a:hover{
  color: #4B05D6;
  text-decoration: underline;
}

#logo{
  width: 200px;
  height: 200px;
  top: 50px;
  margin: 15px;
  padding: 10px;
  border-radius: 10px;
  background: linear-gradient(10deg, #FF3131 , white);
}
